@media (min-width: 1025px) {
  /* ---------- Homepage --------- */
  /* Content */

  .hero {
    background-color: #fff;
    height: 143px;
  }
  .search {
    display: block;
  }

  .search input {
    border: 2px solid #d98841;
    width: 200px;
    height: 30px;
    border-radius: 14px;
  }

  .icons {
    display: block;
    font-size: 12px;
    color: #d98841;
  }
  .icons i {
    margin: 0 20px;
    font-size: 3rem;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 100%;
  }

  .logo {
    height: 92px;
    width: 170px;
  }
  .logo img {
    margin: 0 20px;
  }
  .navbar ul {
    margin: 0 20px;
  }
  .navbar li {
    display: inline-block;
    justify-content: center;
    margin: 23px 0;
  }

  .navbar a {
    display: center;
    font-size: 2rem;
    margin: 0 15px;
  }

  .navbar a:hover {
    text-decoration: underline;
  }
  .fa-user:hover {
    font-size: 4rem;
  }

  .fa-shopping-cart:hover {
    font-size: 4rem;
  }

  /* Content */

  .content {
    margin-top: 100px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .content .content .column-2 {
    max-width: 812px;
    max-height: 465px;
  }

  .flex-columns .row {
    flex-direction: row;
    justify-items: center;
  }

  .content .column-1 h1 {
    margin-top: 100px;
    font-size: 5.7rem;
    line-height: 1.2;
  }

  .content .column-2 {
    display: block;
    min-width: 400px;
    min-height: 465px;
  }

  .content .column-2 img {
    border-radius: 0 45px 45px 0;
  }

  /* ----- product ------ */
  .product {
    max-width: 1920px;
    margin: 0 auto;
  }
  .product .column-1 {
    max-width: 920px;
  }

  .product .column-2 {
    max-width: 920px;
  }

  .product .row {
    justify-content: center;
    align-items: center;
  }

  .product .column-2 h3 {
    margin: 0;
  }

  .product .column-2 {
    text-align: unset;
    margin-left: 224px;
  }

  /* ---- Checkout ------ */

  .checkout .column .box-1 {
    width: 500px;
  }
  .checkout .column .box-2 {
    width: 500px;
  }

  /* -----*/

  .contact-us .column {
    flex-direction: row;
  }

  .contact-us .column .box-2 {
    flex-grow: 1;
  }

  /* ---- Product-page ------ */

  .product-page .wrapper {
    display: flex;
    justify-content: center;
  }
}
