@media (min-width: 320px) {
  /* navbar */
  .hero {
    width: 100%;
    height: 90px;
    background: #d98841;
  }
  ul li {
    display: none;
  }

  .nav a:hover {
    text-decoration: underline;
  }

  .nav,
  .search,
  .icons {
    display: none;
  }
  .logo {
    height: 44px;
    width: 83px;
  }

  .logo img {
    width: 100%;
    height: 100%;
    margin: 23px 36px;
  }

  /* Content */
  .content {
    margin-bottom: 48px;
  }
  .content .row {
    flex-direction: column;
  }
  .content .column-2 {
    display: none;
  }

  .content .column-1 {
    text-align: center;
  }

  .content h1 {
    margin: 20px 0;
    font-size: 3rem;
    line-height: 1.4;
    padding: 0 46px;
    margin-bottom: 31px;
  }

  .btn-hero {
    padding: 18px 27px;
    font-size: 2rem;
    border: solid 2px #d98841;
    border-radius: 9px;
    color: #d98841;
  }

  .btn-hero:hover {
    color: white;
    background: #d98841;
  }

  /* Product */

  .flex-columns .row {
    flex-direction: column;
  }

  .product .column-1 {
    display: flex;
    justify-content: space-around;
    max-width: 674px;
    max-height: 628px;
  }

  .product .column-1 img {
    margin-top: 30px;
    margin-bottom: 20px;
    max-width: 425px;
    max-height: 425px;
  }
  .product .column-2 {
    text-align: center;
  }

  .product .column-2 h3 {
    font-size: 1.8rem;
  }
  .product .column-2 h2 {
    font-size: 3rem;
    margin-bottom: 15px;
  }

  .product p {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }

  .product h5 {
    font-size: 2.5rem;
    margin-bottom: 25px;
  }

  .product .add-cart {
    padding: 12px 30px;
    font-size: 1.7rem;
    border-radius: 19px;
    border: 2px solid #d98841;
  }

  .product .add-cart:hover {
    background: #d98841;
    color: #fff;
  }

  .cta-email {
    text-align: center;
  }

  .cta-email h2 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    margin-top: 60px;
  }

  .cta-email form input {
    width: 200px;
    height: 60px;
    border-radius: 22px 0 0 22px;
    border: #d98841 solid 1px;
    font-size: 2rem;
    margin-bottom: 20px;
    text-indent: 10px;
  }

  .cta-email form a {
    border-radius: 0 28px 28px 0;
    background: #d98841;
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    padding: 12px 30px 16px 30px;
    margin-left: -4px;
  }

  /* ------ Checkout ------ */
  .checkout {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .checkout .box-1 {
    width: 302px;
    height: 348px;
    border-radius: 45px 45px 0 0;
    background-color: #d98841;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .checkout .box-1 .margin {
    margin-top: 20px;
  }
  .checkout .box-1 .img-container {
    width: 104px;
    height: 101px;
    margin: 0 auto;
  }

  .checkout .box-1 .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
  }
  .checkout .box-1 h2 {
    margin-top: 23px;
    margin-bottom: 6px;
    color: #fff;
    font-size: 1.7rem;
  }

  .checkout .box-1 h3 {
    margin-top: 23px;
    color: #fff;
  }
  .checkout .product-quant {
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 6px;
  }

  .checkout .product-quant p {
    font-size: 2.3rem;
  }

  .checkout .product-quant a {
    color: #fff;
    margin: 0 10px;
    font-size: 2rem;
  }

  .checkout .product-quant a:hover {
    color: black;
  }

  .checkout .box-2 {
    width: 302px;
    height: 225px;
    background: #d98841;
    margin: 32px 0;
    border-radius: 0 0 45px 45px;
    text-align: center;
  }

  .checkout .box-2 form input {
    width: 178px;
    height: 44px;
    border: 1px solid gray;
    border-radius: 13px 0px 0px 13px;
    margin-top: 20px;
    color: #d98841;
    border: none;
    padding-left: 10px;
  }

  .checkout .box-2 form input::placeholder {
    color: #d98841;
    text-indent: 10px;
  }
  .checkout .box-2 form .coupon {
    padding: 15px 10px;
    border-radius: 0 15px 15px 0;
    background: #9cc1d9;
    border: none;
    margin: -5px;
  }

  .checkout .box-2 form h3 {
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .checkout .box-2 form span {
    margin-left: 30px;
  }
  .checkout .box-2 .purchase {
    font-size: 1.7rem;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 45px;
    color: #d98841;
    background: #fff;
  }
  .checkout .box-2 .purchase:hover {
    color: black;
  }

  .checkout .icons i {
    color: #fff;
    font-size: 2rem;
    margin: 10px;
  }

  .checkout .icons span {
    margin-left: 10px;
  }
  /* ------ checkout Success ------ */

  .checkout-success {
    display: flex;
    justify-content: space-around;
  }
  .checkout-success .column {
    min-width: 302px;
    max-width: 812px;
    flex-grow: 1;
  }
  .checkout-success .margin {
    margin-top: 30px;
  }
  .checkout-success .column .box-1 {
    height: 250px;
    background: #d98841;
    display: flex;
    justify-content: center;
    border-radius: 45px 45px 0 0;
    margin: 0 20px;
  }
  .checkout-success .column .box-1 .img-container {
    width: 258px;
    height: 139px;
  }
  .checkout-success .column .box-1 .img-container img {
    width: 100%;
    height: 100%;
    margin-top: 42px;
  }
  .checkout-success .column .box-2 {
    margin: 0 20px;
    background: #d98841;
    height: 400px;
    text-align: center;
    color: #fff;
    border-radius: 0 0 45px 45px;
  }

  .checkout-success .column .box-2 .img-container {
    width: 104px;
    height: 101px;
    margin: 0 auto;
  }
  .checkout-success .column .box-2 .img-container img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
  }

  .checkout-success .column .box-2 h1 {
    margin-top: 20px;
  }
  .checkout-success .column .box-2 h2 {
    margin: 20px 0;
  }
  .checkout-success .column .box-2 h3 {
    margin-top: 20px;
  }
  .checkout-success .line {
    border: 2px solid #fff;
  }

  /* -------- Contact us --------- */

  .contact-us .column {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .contact-us .column .box-1 {
    height: 700px;
    min-width: 340px;
    max-width: 398px;
    background: #d98841;
    border-radius: 45px;
    text-align: center;
    margin: 10px;
  }

  .contact-us .column .box-2 {
    height: 700px;
    max-width: 812px;
    min-width: 340px;
    background: #d98841;
    border-radius: 45px;
    text-align: center;
    margin: 10px;
  }
  .contact-us .column .box-2 h1 {
    font-size: 7rem;
    color: #fff;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 39px;
  }
  .contact-us .column .box-2 .line {
    border: 2px solid white;
    margin-bottom: 35px;
  }

  .contact-us .column .box-2 .form-control {
    margin: 0 40px;
  }
  .contact-us .column .box-2 input {
    width: 100%;
    height: 54px;
    border-radius: 15px;
    border: none;
    margin-bottom: 53px;
    font-size: 1.7rem;
    color: #d98841;
    text-indent: 10px;
  }
  .contact-us .column .box-2 input::placeholder {
    color: #d98841;
  }
  .contact-us .column .box-2 textarea {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #d98841;
    padding: 0 40px;
    resize: none;
  }
  .contact-us .column .box-2 form button {
    border: none;
    padding: 13px 101px;
    font-size: 2.8rem;
    border-radius: 45px;
    color: #d98841;
    text-align: center;
  }

  .contact-us .column .box-2 form button:hover {
    color: #000000;
  }
  .contact-us .button-control {
    text-align: center;
  }
  .contact-us .column .margin {
    margin: 20px 0;
  }

  .contact-us .column .box-1 {
    text-align: center;
    max-width: 398px;
  }

  .contact-us .column .box-1 p {
    font-size: 2.8rem;
    color: white;
    margin: 20px;
  }

  .contact-us .column .box-1 i {
    color: white;
    margin: 30px 0;
  }
  /* ------ product-page ------ */

  .product-page .row {
    max-width: 562px;
  }
  .product-page .column {
    margin: 60px 0;
  }
  .product-page .column .column-1 {
    max-width: 312px;
    max-height: 302px;
  }

  .product-page .column .column-2 p {
    color: #d98841;
    margin-bottom: 50px;
  }
  .product-page .column .column-2 h5 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .product-page .column .column-2 .sizing a {
    font-size: 1.7rem;
  }

  .product-page .column .column-2 .add-cart {
    padding: 9px 30px;
    border: 2px solid #d98841;
    border-radius: 19px;
  }
  .product-page .column .column-2 .add-cart:hover {
    background: #d98841;
    color: #fff;
  }
  .product-page .column .column-2 .sizing a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  /* ------ about-us ------ */
  .about-us h1 {
    text-align: center;
    margin: 0 30px;
  }
  .about-us .container {
    max-width: 1364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #d98841;
    border-radius: 15px;
  }

  .about-us .img-container {
    width: 313px;
    height: 169px;
    margin: 49px 0;
  }

  .about-us .img-container img {
    width: 100%;
    height: 100%;
  }

  .about-us h1 {
    font-size: 70px;
    color: #d98841;
    margin: 30px 0;
  }

  .about-us p {
    max-width: 1088px;
    font-size: 3rem;
    color: #fff;
    margin: 30px 30px;
  }
}
