@media (min-width: 768px) {
  .flex-columns .row {
    flex-direction: row;
  }

  #product .flex-columns .column {
    flex-direction: row;
  }

  .content {
    margin-top: 50px;
  }

  .content .column-2 {
    display: block;
  }

  .content img {
    border-radius: 0 45px 45px 0;
    width: 90%;
  }

  .product .column-2 .text-primary {
    margin-top: 70px;
  }

  .product .column-2 p {
    max-width: 526px;
  }

  .product .column-1 img {
    max-width: 674px;
    max-height: 628px;
  }

  .product .sizing i,
  a {
    font-size: 2.5rem;
  }

  .product .column-2 h3 {
    font-size: 2.6rem;
  }
  .product .column-2 h2 {
    font-size: 3.6rem;
    margin: 30px 0;
  }

  /* ------- Checkout ------ */

  .checkout .box-1 {
    width: 400px;
  }

  .checkout .box-2 {
    width: 400px;
  }

  /* Product-page */
}
