@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #d98841;
  font-family: "Roboto Condensed", sans-serif;
}

.text-primary {
  color: #d98841;
}

.text-bg {
  color: #d98841;
  font-size: 5.7rem;
}

/* buttons */

.btn {
  text-decoration: none;
}

/* Sizing */

.sizing {
  margin-bottom: 20px;
  font-size: 1.7rem;
}

.sizing .black {
  color: black;
}

.yellow {
  color: yellow;
}

.blue {
  color: blue;
}

.sizing a {
  color: #d98841;
  margin: 0 10px;
}

.sizing a:hover {
  text-decoration: underline;
}

.current {
  text-decoration: underline;
}
/* Flex columns*/
.flex-columns .row {
  display: flex;
  flex: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}

.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo img {
  max-height: 628px;
  max-width: 674px;
}
